/*
 * Header
 */
.navbar-text {
    margin-right: 50px;
    color: #eee !important;
}

.navbar {
    border-radius: 0 !important;
    margin-bottom: 0;
}

/* Sticky footer styles
      -------------------------------------------------- */
html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push, #footer {
    height: 60px;
}

#footer {
    background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media ( max-width : 767px) {
    #footer {
        margin-left: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.container .credit {
    margin: 20px 0;
}

#btn-add {
    margin-bottom: 1em;
}