@(error: String, user: Option[models.User])(implicit messages: Messages)

@main(Messages("bad.request"), user) {
    <div class="container">
        <div class="well">
            <h1>@Messages("bad.request")</h1>
            <p>@error</p>
        </div>
    </div>
}