@(user: Option[models.User])(implicit messages: Messages, flash: Flash)

    @main(Messages("title"), user) {
        <div class="container">
            @flash.get("message").map { message =>
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @message
                </div>
            }
            <div class="well">
                <h1>@Messages("title")</h1>

                <p>
                    Dit jaar vindt de jaarlijkse rommelmarkt Actie Bamboes weer plaats op Koningsdag, woensdag 27 april 2016.
                    De rommelmarkt begint om 9.15 uur en om 12.15 uur beginnen we met opruimen.
                    Zoals altijd is de locatie van de rommelmarkt het parkeerterrein van Sportcentrum Groene Woud.
                    Vroonlandseweg 45 te Kapelle.
                </p>

                <p>
                    Als medewerker kan je je opgeven via deze website,
                    je krijgt vervolgens een bevestigingsemail met de ingevulde gegevens.
                    De voorkeur die je opgeeft voor de stand om te verkopen is niet definitief,
                    over de definitieve indeling krijg je eind april bericht.
                    Als je iets wilt wijzigen of vragen dan kan je mailen naar
                    <a href="mailto:actiebamboes@@scoutingkapelle.nl" target="_top">actiebamboes@@scoutingkapelle.nl</a>
                    .
                </p>
                <hr>

                <h2>Ophalen vrijdag</h2>
                <p>Vrijdag 15 april om 18.15 uur verzamelen bij het station.</p>

                <h2>Ophalen zaterdag</h2>
                <p>Zaterdag 16 april om 9.00 uur verzamelen bij het station.</p>

                <hr>
                <h2>BBQ 50 jarig bestaan</h2>
                <p>
                    Vrijdag avond 29 april organiseren we een BBQ om het 50 jarig bestaan van de Rommelmarkt gezamenlijk te vieren.
                    De uitnodiging voor de BBQ is alleen voor de vrijwilligers die meewerken aan de Actie Bamboes.
                    Graag zien we jullie aanmelding tegemoet, via het inschrijfformulier.
                    De BBQ start om 18:00 uur en eindigt om 24:00 uur. (voor 10 tot 15 jaar 20:30 uur).

                    Wil je graag iemand meenemen zoals je partner, dan kun je dat aangeven op het inschrijfformulier.
                    Hier zijn dan wel kosten aan verbonden (10 euro).
                </p>

                <hr>
                <div>
                    <a class="btn-lg btn-primary" href="@routes.Registrations.register">Aanmelden als medewerker</a>
                </div>
            </div>
        </div>
    }