@(organisations: Seq[Organisation], user: models.User)(implicit messages: Messages)

    @scripts = {
        <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap-table.css"))">
        <script type="application/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap-table.js"))"></script>
        <script type="application/javascript" src="@routes.Assets.at("javascripts/views/organisations.js")"></script>
    }
    @main(Messages("organisations"), Some(user), scripts) {
        <div class="container">
            <h1>@Messages("organisations")</h1>
            <a href="@routes.Organisations.add">
                <button id="btn-add" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon glyphicon-plus"></span>
                    @Messages("organisation.add")
                </button>
            </a>

            <div class="table-responsive">
                <table id="organisations" data-striped="true" data-toggle="table" >
                    <thead>
                        <tr>
                            <th data-visible="false">id</th>
                            <th>@Messages("organisation")</th>
                        </tr>
                    </thead>

                    <tbody>
                    @for(organisation <- organisations) {
                        <tr>
                            <td>@organisation.id</td>
                            <td>@organisation.name</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    }