@(organisationForm: Form[forms.OrganisationForm.Data], user: models.User)(implicit request: RequestHeader, messages: Messages)

@import b3.inline.fieldConstructor

@main(Messages("organisation.add"), Some(user)) {
    @request.flash.get("error").map { msg =>
        <div class="col-md-4 col-md-offset-4 alert alert-danger alert-error">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("error")</strong> @msg
        </div>
    }
    <fieldset class="col-md-4 col-md-offset-4">
        <legend>@Messages("organisation.add")</legend>
        @helper.form(action = routes.Organisations.save) {
            @helper.CSRF.formField
            @b3.text(organisationForm("name"), '_hiddenLabel -> Messages("name"), 'placeholder -> Messages("name"), 'class -> "form-control input-lg")
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">
                        <span class="glyphicon glyphicon glyphicon-ok"></span>
                        @Messages("organisation.save")
                    </button>
                </div>
            </div>
        }
    </fieldset>
}