@(organisation: Organisation, groups: Seq[Group], user: models.User)(implicit messages: Messages)

    @scripts = {
        <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap-table.css"))">
        <script type="application/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap-table.js"))"></script>
        <script type="application/javascript" src="@routes.Assets.at("javascripts/views/groups.js")"></script>
    }

    @main(organisation.name, Some(user), scripts) {
        <div class="container">
            <h1>@organisation.name</h1>
            <div class="table-responsive">
                <table id="groups" data-toggle="table" data-striped="true">
                    <thead>
                        <tr>
                            <th data-visible="false">id</th>
                            <th>@Messages("group")</th>
                            <th>@Messages("organisation")</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(group <- groups) {
                        <tr>
                            <td>@group.id</td>
                            <td>@group.name</td>
                            <td>@group.organisation.name</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    }